body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 30px);
  padding: 0;
  margin: 0;
  border: 15px solid #225378;
  color: #181818;
}
.center-it{
  margin: 0 auto;
}
h1{
  font-size: 50px;
}
a{
  color: #225378;
  font-size: 20px;
}
a:visited{
  color: #225378;
}
p{
  font-size: 18px;
}
ul{
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 40px 0 20px 0;
}
li{
  display: table-cell;

}
li a{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 100px;
  border: 2px solid #225378;
  text-decoration: none;
  color: #225378;
  transition: all .2s;
  background-color: white;
}
li a:hover{
  background-color: #225378;
  color: white;
}
.back-button{
  position: fixed;
  top: 35px;
  left: 35px;
}
